In [1]:
import pandas as pd
import seaborn as sns

In [3]:
CPS_df = pd.read_csv("../data/processed/cps_2009_2017_clean")
ACS_df = pd.read_csv("../data/processed/ACS_2011_2017_clean")
NFCS_df = pd.read_csv("../data/processed/NFCS_2009_2018_clean")

C:\Users\Desmond\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
frames = [CPS_df, ACS_df, NFCS_df]

In [5]:
#declaring STATE list
STATES = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
          "Connecticut","Delaware","District of Columbia", "Florida","Georgia","Hawaii",
          "Idaho","Illinois", "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine",
          "Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
          "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
          "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
          "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
          "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

In [6]:
#generating state:state_number dictionary
STATE_FIPS = list(frames[0].STATEFIP.unique())

STATE = {}
for state, name in zip(STATE_FIPS, STATES):
    STATE[state] = name

In [7]:
#generating STATE column for pertinent dfs
CPS_df["STATE"] = CPS_df.STATEFIP.map(STATE)
ACS_df["STATE"] = ACS_df.STATEFIP.map(STATE)

In [8]:
pop_prop = pd.read_csv("../data/interim/population_proportions")

In [122]:
CPS_agg = pd.DataFrame()
CPS_agg["STATE"] = CPS_df.STATE
CPS_agg["UNDERBANKED"] = CPS_df.BUNBANKED
CPS_agg["UNDERBANKED_REASON"] = CPS_df.BUNDERBANKREAS


CPS_agg = CPS_agg.groupby(["STATE"]).count()

CPS_agg = CPS_agg.reset_index()

CPS_agg["STATE_SURVEY_POP"] = pop_prop["BUNBANKED"]
CPS_agg

                   STATE  UNDERBANKED  UNDERBANKED_REASON  STATE_SURVEY_POP
0                Alabama         4783                1010              9405
1                 Alaska         4398                1377              8083
2                Arizona         4909                1284              8785
3               Arkansas         4694                1031              8929
4             California        28842                8344             56168
5               Colorado         5991                2179             12088
6            Connecticut         6181                2350             11811
7               Delaware         4902                1625              8890
8   District of Columbia         5086                1305              8851
9                Florida        13291                3703             26018
10               Georgia         7144                2004             14035
11                Hawaii         5490                1658             10085
12                 Idaho         5107                1320              8565
13              Illinois        10811                3071             19681
14               Indiana         5482                1520             10337
15                  Iowa         5885                2043             10546
16                Kansas         5216                1661              9098
17              Kentucky         5322                1523              9354
18             Louisiana         4961                 953              9612
19                 Maine         5563                2019              9548
20              Maryland         7065                2454             13111
21         Massachusetts         6215                1696             10969
22              Michigan         8247                2411             15279
23             Minnesota         7431                2626             13168
24           Mississippi         4739                 944              8420
25              Missouri         5636                1649             10466
26               Montana         5376                1013              8858
27              Nebraska         5019                1654              9387
28                Nevada         5051                1572              9137
29         New Hampshire         6650                2360             11679
30            New Jersey         7117                1964             13541
31            New Mexico         4494                 760              8075
32              New York        13718                4101             27213
33        North Carolina         7446                2153             13757
34          North Dakota         4894                1267              8732
35                  Ohio         9924                2794             17667
36              Oklahoma         4669                1241              8746
37                Oregon         5506                1509              9741
38          Pennsylvania        10273                3010             19318
39          Rhode Island         4712                1733              8907
40        South Carolina         4931                1454              9003
41          South Dakota         5316                1868              9119
42             Tennessee         5600                1331             10198
43                 Texas        19419                5299             36518
44                  Utah         5165                1443              9326
45               Vermont         5429                1667              9109
46              Virginia         7407                2225             13270
47            Washington         7021                1980             11663
48         West Virginia         5329                1149             10129
49             Wisconsin         7123                2221             11673
50               Wyoming         5070                1398              8836

In [55]:
WA_UB_pop_CPS_agg = CPS_agg[CPS_agg.STATE == "Washington"]
WA_UB_pop_CPS_agg_sum = CPS_agg[CPS_agg.STATE == "Washington"]["UNDERBANKED"].sum()

In [67]:
WA_UB_pop_CPS_agg["STATE_SURVEY_POP"] = WA_UB_pop_CPS_agg.UNDERBANKED/WA_UB_pop_CPS_agg_sum*100
WA_columns = list(WA_UB_pop_CPS_agg.columns)[0:]

WA_UB_pop_CPS_agg.reset_index()[WA_columns]

<ipython-input-67-e9dddeb2d5fd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  WA_UB_pop_CPS_agg["STATE_SURVEY_POP"] = WA_UB_pop_CPS_agg.UNDERBANKED/WA_UB_pop_CPS_agg_sum*100

         STATE  UNDERBANKED_REASON  UNDERBANKED  STATE_SURVEY_POP
0   Washington                 1.0           37          1.868687
1   Washington                 2.0           59          2.979798
2   Washington                 4.0           10          0.505051
3   Washington                 6.0            2          0.101010
4   Washington                 7.0            1          0.050505
5   Washington                 8.0           11          0.555556
6   Washington                 9.0            3          0.151515
7   Washington                10.0            4          0.202020
8   Washington                11.0            7          0.353535
9   Washington                96.0            2          0.101010
10  Washington                97.0            4          0.202020
11  Washington                99.0         1840         92.929293

In [25]:
#Isolating the specific northwest while 
PNW = ["Washington", "Oregon", "Wyoming", "Montana", "Idaho"]

In [69]:
PNW_CPS_agg = CPS_agg[CPS_agg.STATE.isin(PNW)]

PNW_CPS_agg

          STATE  UNDERBANKED_REASON  UNDERBANKED  STATE_SURVEY_POP
97        Idaho                 1.0           25                 0
98        Idaho                 2.0           43                 0
99        Idaho                 4.0            7                 0
100       Idaho                 6.0            6                 0
101       Idaho                 7.0            3                 0
102       Idaho                 8.0           11                 0
103       Idaho                10.0           15                 0
104       Idaho                99.0         1210                 0
207     Montana                 1.0           20                 0
208     Montana                 2.0           55                 0
209     Montana                 4.0           19                 0
210     Montana                 6.0            1                 0
211     Montana                 8.0            4                 0
212     Montana                10.0            4                 0
213     Montana                11.0            1                 0
214     Montana                99.0          909                 0
294      Oregon                 1.0           10                 0
295      Oregon                 2.0           17                 0
296      Oregon                 4.0            9                 0
297      Oregon                 6.0            5                 0
298      Oregon                 8.0            5                 0
299      Oregon                10.0           23                 0
300      Oregon                99.0         1440                 0
373  Washington                 1.0           37                 0
374  Washington                 2.0           59                 0
375  Washington                 4.0           10                 0
376  Washington                 6.0            2                 0
377  Washington                 7.0            1                 0
378  Washington                 8.0           11                 0
379  Washington                 9.0            3                 0
380  Washington                10.0            4                 0
381  Washington                11.0            7                 0
382  Washington                96.0            2                 0
383  Washington                97.0            4                 0
384  Washington                99.0         1840                 0
399     Wyoming                 1.0           16                 0
400     Wyoming                 2.0           54                 0
401     Wyoming                 4.0           19                 0
402     Wyoming                 6.0           11                 0
403     Wyoming                 8.0            9                 0
404     Wyoming                10.0            9                 0
405     Wyoming                11.0            4                 0
406     Wyoming                99.0         1276                 0

In [83]:
PNW_CPS_agg[PNW_CPS_agg.STATE == PNW[0]].UNDERBANKED.sum()

1980

In [88]:
#getting response sums for each state
PNW_response_sums = [PNW_CPS_agg[PNW_CPS_agg.STATE == state].UNDERBANKED.sum() for state in PNW ]

In [92]:
PNW_response_dict = dict(zip(PNW, PNW_response_sums))
PNW_response_dict

{'Washington': 1980,
 'Oregon': 1509,
 'Wyoming': 1398,
 'Montana': 1013,
 'Idaho': 1320}

In [119]:
state_df_list = []
for state in PNW:
    holder = PNW_CPS_agg[PNW_CPS_agg.STATE == state]
    holder["STATE_SURVEY_POP"] = holder.UNDERBANKED/PNW_response_dict[state]*100
    state_df_list.append(holder)

<ipython-input-119-88ccc966f497>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  holder["STATE_SURVEY_POP"] = holder.UNDERBANKED/PNW_response_dict[state]*100

In [120]:
pd.concat(state_df_list)

          STATE  UNDERBANKED_REASON  UNDERBANKED  STATE_SURVEY_POP
373  Washington                 1.0           37          1.868687
374  Washington                 2.0           59          2.979798
375  Washington                 4.0           10          0.505051
376  Washington                 6.0            2          0.101010
377  Washington                 7.0            1          0.050505
378  Washington                 8.0           11          0.555556
379  Washington                 9.0            3          0.151515
380  Washington                10.0            4          0.202020
381  Washington                11.0            7          0.353535
382  Washington                96.0            2          0.101010
383  Washington                97.0            4          0.202020
384  Washington                99.0         1840         92.929293
294      Oregon                 1.0           10          0.662691
295      Oregon                 2.0           17          1.126574
296      Oregon                 4.0            9          0.596421
297      Oregon                 6.0            5          0.331345
298      Oregon                 8.0            5          0.331345
299      Oregon                10.0           23          1.524188
300      Oregon                99.0         1440         95.427435
399     Wyoming                 1.0           16          1.144492
400     Wyoming                 2.0           54          3.862661
401     Wyoming                 4.0           19          1.359084
402     Wyoming                 6.0           11          0.786838
403     Wyoming                 8.0            9          0.643777
404     Wyoming                10.0            9          0.643777
405     Wyoming                11.0            4          0.286123
406     Wyoming                99.0         1276         91.273247
207     Montana                 1.0           20          1.974334
208     Montana                 2.0           55          5.429418
209     Montana                 4.0           19          1.875617
210     Montana                 6.0            1          0.098717
211     Montana                 8.0            4          0.394867
212     Montana                10.0            4          0.394867
213     Montana                11.0            1          0.098717
214     Montana                99.0          909         89.733465
97        Idaho                 1.0           25          1.893939
98        Idaho                 2.0           43          3.257576
99        Idaho                 4.0            7          0.530303
100       Idaho                 6.0            6          0.454545
101       Idaho                 7.0            3          0.227273
102       Idaho                 8.0           11          0.833333
103       Idaho                10.0           15          1.136364
104       Idaho                99.0         1210         91.666667

----------------------------------------------------------------------------------------------

In [68]:
NFCS_df

,Unnamed: 0,checking_account,auto_title_loan,payday_loan,pawn_shop,rent_to_own,YEAR
0,0,1,1,1,1,1,2012
1,1,1,1,1,1,1,2012
2,2,1,1,1,1,1,2012
3,3,1,1,1,1,1,2012
4,4,1,1,2,2,5,2012
...,...,...,...,...,...,...,...
133814,27086,1,1,1,1,1,2018
133815,27087,99,1,1,99,1,2018
133816,27088,2,1,5,1,1,2018
133817,27089,1,5,5,4,2,2018
133818,27090,1,1,1,1,1,2018

Index(['STATE', 'UNDERBANKED', 'UNDERBANKED_REASON', 'STATE_SURVEY_POP'], dtype='object')

In [28]:
CPS_agg = pd.DataFrame()
CPS_agg["STATE"] = CPS_df.STATE
CPS_agg["UNDERBANKED"] = CPS_df.BUNBANKED
CPS_agg["UNDERBANKED_REASON"] = CPS_df.BUNDERBANKREAS

#CPS_agg = CPS_agg.groupby(["STATE"]).count()
CPS_agg = CPS_agg.groupby(["STATE", "UNDERBANKED_REASON"]).count()

CPS_agg = CPS_agg.reset_index()

CPS_agg["STATE_SURVEY_POP"] = pop_prop["BUNBANKED"]

CPS_agg[CPS_agg.STATE == "Alabama"]

     STATE  UNDERBANKED_REASON  UNDERBANKED  STATE_SURVEY_POP
0  Alabama                 1.0            2            9405.0
1  Alabama                 2.0           38            8083.0
2  Alabama                 4.0           19            8785.0
3  Alabama                 8.0            2            8929.0
4  Alabama                10.0           19           56168.0
5  Alabama                96.0            6           12088.0
6  Alabama                99.0          924           11811.0

In [15]:
CPS_agg = pd.DataFrame()
CPS_agg["STATE"] = CPS_df.STATE
CPS_agg["UNDERBANKED_REASON"] = CPS_df.BUNDERBANKREAS

CPS_agg = CPS_agg.groupby(["STATE"])["UNDERBANKED_REASON"].count()

CPS_agg = CPS_agg.reset_index()
CPS_agg
#CPS_agg[CPS_agg["STATE"] == "Alabama"][]

                   STATE  UNDERBANKED_REASON
0                Alabama                1010
1                 Alaska                1377
2                Arizona                1284
3               Arkansas                1031
4             California                8344
5               Colorado                2179
6            Connecticut                2350
7               Delaware                1625
8   District of Columbia                1305
9                Florida                3703
10               Georgia                2004
11                Hawaii                1658
12                 Idaho                1320
13              Illinois                3071
14               Indiana                1520
15                  Iowa                2043
16                Kansas                1661
17              Kentucky                1523
18             Louisiana                 953
19                 Maine                2019
20              Maryland                2454
21         Massachusetts                1696
22              Michigan                2411
23             Minnesota                2626
24           Mississippi                 944
25              Missouri                1649
26               Montana                1013
27              Nebraska                1654
28                Nevada                1572
29         New Hampshire                2360
30            New Jersey                1964
31            New Mexico                 760
32              New York                4101
33        North Carolina                2153
34          North Dakota                1267
35                  Ohio                2794
36              Oklahoma                1241
37                Oregon                1509
38          Pennsylvania                3010
39          Rhode Island                1733
40        South Carolina                1454
41          South Dakota                1868
42             Tennessee                1331
43                 Texas                5299
44                  Utah                1443
45               Vermont                1667
46              Virginia                2225
47            Washington                1980
48         West Virginia                1149
49             Wisconsin                2221
50               Wyoming                1398

In [80]:
CPS_agg.reset_index()

    index  UNDERBANKED_REASON  STATE  STATE_SURVEY_POP
0       0                 1.0   1060              9405
1       1                 2.0   2607              8083
2       2                 4.0    722              8785
3       3                 6.0    166              8929
4       4                 7.0    125             56168
5       5                 8.0    355             12088
6       6                 9.0     45             11811
7       7                10.0    861              8890
8       8                11.0    178              8851
9       9                96.0     46             26018
10     10                97.0     43             14035
11     11                98.0      2             10085
12     12                99.0  96716              8565

In [38]:
CPS_agg["STATE_SURVEY_POP"] = CPS_df["BUNBANKED"]

In [ ]:
CPS_agg = CPS_agg.reset_index()

In [39]:
CPS_agg.head()

            UNBANKED  STATE_SURVEY_POP
STATE
Alabama         4783               NaN
Alaska          4398               NaN
Arizona         4909               NaN
Arkansas        4694               NaN
California     28842               NaN

In [123]:
NFCS_df

,Unnamed: 0,checking_account,auto_title_loan,payday_loan,pawn_shop,rent_to_own,YEAR
0,0,1,1,1,1,1,2012
1,1,1,1,1,1,1,2012
2,2,1,1,1,1,1,2012
3,3,1,1,1,1,1,2012
4,4,1,1,2,2,5,2012
...,...,...,...,...,...,...,...
133814,27086,1,1,1,1,1,2018
133815,27087,99,1,1,99,1,2018
133816,27088,2,1,5,1,1,2018
133817,27089,1,5,5,4,2,2018
133818,27090,1,1,1,1,1,2018